
<div id="wrap">
  <ul class="navbar">
    <li>
      <a routerLink="/acceuil">Accueil</a>
    </li>

    <li>
      <a href="#">Nouvautés</a>
    </li>

  <li>
    <a href="/chemise">Chemises</a>
  </li>

    <li>
      <a href="#">Costumes</a>
    </li>

    <li>
      <a href="#">Collection femme</a>
    </li>

    <li>
      <a href="#">Accessoires</a>
    </li>

    <li>
      <form>
        <input type="text" name="text" class="search" placeholder="recherchez ici">
        <input id="search" type="submit" name="submit" class="submit" value="search">
      </form>
    </li>
  </ul>
<pre class="bloc">
  <router-outlet>
  </router-outlet>
</pre>
</div>

<div class="navbar2"> Bievenue dans votre boutique</div>





